# system files
*.DS_Store
*.ini
*~
~$*

# text editors
*.dms
*.sw?
*.vscode

# preprocessing, object, assembly, debug
*.[ios]
*.dSYM

# out, exe
*.out
*.exe

# text files
*.txt
*.pdf
*.db

# current project
data_base.db
uchat
uchat_server