# system files
*.DS_Store
*.ini
*~
~$*

# text editors
*.dms
*.s[a-v][a-z]
*.sw[a-p]
*.vscode

# preprocessing, object, assembly, debug
*.[ios]
*.dSYM

# out, exe
*.a
*.so
*.dll
*.out
*.exe
*.dylib

# text files
*.txt
*.pdf
*.db

# current project
data_base.db
uchat
uchat_server
!local_lib/lib/*
