
#online_butt:active {
    border-width: 0px;
    background-image: linear-gradient(rgba(49, 219, 49, 0), rgba(49, 219, 49, 0));
}

#online_butt {
    border-width: 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

#edit {
    border-width: 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}


#chat_button {
    background-image: linear-gradient(rgba(178, 193, 233, 0.2), rgba(178, 193, 233, 0.2));
    border-width: 0px;
}

#chat_button:active {
    background-image: linear-gradient(rgba(178, 193, 233, 0.3), rgba(178, 193, 233, 0.3));
}


#message_to {
    background-image: linear-gradient(rgba(178, 193, 233, 0.3), rgba(178, 193, 233, 0.3));
    color: rgb(87, 76, 75);
    box-shadow: none;
    border-width: 1px;
    text-shadow: none;
}

#deleted {
    background-image: linear-gradient(rgba(178, 193, 233, 0.055), rgba(178, 193, 233, 0.055));
    color: rgb(87, 76, 75);
    box-shadow: none;
    border-width: 1px;
    text-shadow: none;
}

#message_from {
    background-image: linear-gradient(rgba(216, 178, 233, 0.3), rgba(216, 178, 233, 0.3));
    color: rgb(87, 76, 75);
    /* background-image: linear-gradient(rgba(107, 95, 94, 0.521), rgba(107, 95, 94, 0.521)); */
    box-shadow: none;
    border-width: 1px;
    text-shadow: none;
}


window {
    background-image: linear-gradient(rgb(165, 161, 161), rgb(213, 218, 218));
}

button {
    /* background-image: linear-gradient(rgba(221, 152, 235, 0.3), rgba(221, 152, 235, 0.3)); */
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(185, 182, 182);
    box-shadow: none;
    text-shadow: none;
}

button:active {
    /* background-image: linear-gradient(rgba(221, 152, 235, 0.3), rgba(221, 152, 235, 0.3)); */
    box-shadow: none;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

#user {
    margin-left: 5px;
    background-image: linear-gradient(rgba(107, 95, 94, 0.521), rgba(107, 95, 94, 0.521));
}

#return_sign_in {
    border-radius: 30px;
    border-width: 2px;
}

#command_line {
    border-radius: 10px;
}

#chat_button {
    margin-left: 8px;
}

#who_writing {
    border-radius: 5px;
}

#friends_listbox {
    border-radius: 10px;
    background-image: linear-gradient(rgba(221, 152, 235, 0.4), rgba(178, 193, 233, 0.4), rgba(38, 145, 145, 0.4));
}

#list_box {
    border-radius: 10px;
    border-width: 10px;
    background-image: linear-gradient(rgba(221, 152, 235, 0.4), rgba(178, 193, 233, 0.4), rgba(38, 145, 145, 0.4));
}

#theme_1 {
    border-color: rgb(231, 216, 216);
    border-width: 3px;
    background-image: linear-gradient(rgb(130, 130, 130), rgb(130, 130, 130));
}

#theme_1:active {
    border-color: blue;
    background-image: linear-gradient(rgba(221, 152, 235, 0.4), rgba(178, 193, 233, 0.4), rgba(38, 145, 145, 0.4));
}

#theme_2 {
    border-color: rgb(231, 216, 216);
    border-width: 3px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
}

#theme_2:active {
    border-color: blue;
    background-image: linear-gradient(rgba(237, 212, 178, 0.845),rgba(255, 255, 255, 0.769), rgba(221, 152, 221, 0.797));
}

#theme_3 {
    border-color:rgb(231, 216, 216);
    border-width: 3px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}

#theme_3:active {
    border-color: blue;
    background-image: linear-gradient(rgba(139, 75, 182, 0.646),rgba(46, 99, 213, 0.632), rgb(0, 0, 0));
}

#win_sett {
    background-image: linear-gradient(rgba(255, 255, 255, 0.521), rgba(255, 255, 255, 0.685));
}

#choose_user {
    border-radius: 10px;
    background-image: linear-gradient(rgba(221, 152, 235, 0.527), rgba(178, 193, 233, 0.521));
}

#row_to {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-right: 5px;
}

#row_from {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 5px;
}

#install_button {
    border-width: 0px;
    background-image: linear-gradient(rgba(221, 152, 235, 0), rgba(178, 193, 233, 0));
}

#mess_date {
    margin-top: 2px;
    margin-right: 6px;
    color: rgba(107, 95, 94, 0.8);
}

#mess_date_f {
    margin-top: 2px;
    margin-left: 6px;
    color: rgba(107, 95, 94, 0.8);
}


#username_mess {
    margin-bottom: 2px;
    margin-right: 6px;
    font-weight: bold;
    color: rgba(107, 95, 94, 0.8);
}

#username_name_f {
    margin-bottom: 2px;
    margin-left: 6px;
    font-weight: bold;
    color: rgba(107, 95, 94, 0.8);
}


#scrolled {
    border-radius: 10px;
}

#sticker {
    border-width: 0px;
    background-image: linear-gradient(rgba(221, 152, 235, 0), rgba(178, 193, 233, 0));
}

#sticker_win {
    background-image: linear-gradient(rgba(221, 152, 235, 0.4), rgba(178, 193, 233, 0.4), rgba(38, 145, 145, 0.4));
}
