
#message_to {
    color: black;
}

window {
    background-image: linear-gradient(rgb(194, 174, 174), rgb(255, 255, 255));
}

button {
    background-image: linear-gradient(rgb(231, 216, 216), rgb(231, 216, 216));
    border-radius: 10px;
    border-width: 0px;
    box-shadow: none;
}

button:active {
    box-shadow: none;
    background-image: linear-gradient(rgb(128, 111, 111), rgb(168, 146, 146));
}

#user {
    margin-left: 5px;
    background-image: linear-gradient(rgba(107, 95, 94, 0.521), rgba(107, 95, 94, 0.521));
}

#return_sign_in {
    border-radius: 30px;
    border-width: 2px;
}

#command_line {
    border-radius: 10px;
}

#chat_button {
    margin-left: 8px;
}

#who_writing {
    border-radius: 0px;
}

#list_box {
    /* background-image: url("/Users/opoliarenk/Desktop/ndykyy.png"); */
    background-image: linear-gradient(rgba(221, 152, 235, 0.527), rgba(178, 193, 233, 0.521));
}

#theme_1 {
    background-image: linear-gradient(rgba(221, 152, 235, 0.527), rgba(178, 193, 233, 0.521));
}

#theme_2 {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.329));
}

#theme_3 {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 255, 221));
}

/* #win_sett {
    background-image: linear-gradient(rgba(255, 255, 255, 0.521), rgba(255, 255, 255, 0.685));
} */

#choose_user {
    background-image: linear-gradient(rgba(221, 152, 235, 0.527), rgba(178, 193, 233, 0.521));
}
