
#message_to {
    color: black;
}

window {
    background-image: linear-gradient(rgb(206, 158, 158), rgb(85, 62, 62));
}

button {
    background-image: linear-gradient(#ffffff, #ffffff);
    /* border-radius: 10px; */
    /* border-width: 1px; */
}

button:active {
    background-image: linear-gradient(rgb(14, 12, 12), rgb(31, 27, 27));
}

#user {
    margin-left: 5px;
    background-image: linear-gradient(rgba(107, 95, 94, 0.521), rgba(107, 95, 94, 0.521));
}

#return_sign_in {
    border-radius: 30px;
    border-color: rgb(32, 177, 39);
    border-width: 2px;
}

#command_line {
    border-radius: 10px;
}

#chat_button {
    margin-left: 8px;
}

#who_writing {
    border-radius: 0px;
}

#list_box {
    background-image: linear-gradient(rgba(191, 133, 202, 0.521), rgba(69, 90, 148, 0.521));
}

#theme_1 {
    background-image: linear-gradient(rgba(191, 133, 202, 0.521), rgba(69, 90, 148, 0.521));
}

#theme_2 {
    background-image: linear-gradient(rgb(147, 180, 185), rgba(190, 209, 81, 0.877));
}

#theme_3 {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 255, 221));
}

#win_sett {
    background-image: linear-gradient(rgba(255, 255, 255, 0.521), rgba(255, 255, 255, 0.685));
}
