/* #row {
    margin-top: 20px;
}

#message_to {
    color: gray;
}

#message_from {
    color: rgb(101, 41, 160);
}

#send_button {
    border-radius: 100px;
}

#list_box:hover {
    background-color: green;
}

window {
    background-color: salmon;
}

button {
    background-image: linear-gradient(#4e6c7c, #4e6c7c);
}

button:active {
    background-image: linear-gradient(#dfd8cb, #dfd8cb);
}

button label {
    color: lavender;
} */
