#row {
    margin-top: 20px;
}

#message_to {
    color: gray;
}

#message_from {
    color: rgb(101, 41, 160);
}

#send_button {
    border-radius: 100px;
}

#list_box:hover {
    background-color: green;
}